/* You can add global styles to this file, and also import other style files */
body {
  background: rgb(147, 167, 18);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
li {
  list-style: none;
}
